{% extends 'base.html' %}

{% block title %}Updates{% endblock %}

{% block content %}
<div class="container">
    <div class="col s12 m10" style="margin: 20px; border: 1px solid #ccc; padding: 10px;">
        <h3 style="color: #333; font-family: 'Arial', sans-serif; text-align:center">{{ up.title }}</h3>

        <div style="display: flex;align-items:center;justify-content:center">
        <img style="height:30rem;" src="/media/{{ up.image }}" class="responsive-img" alt=""></div>
        <br>
        <p style="font-size: 16px; line-height: 1.5; color: #444; text-align:center">
            {{ up.description}}
        </p>
    </div>
</div>
{% endblock %}